Package: luci-app-talent
Version: 423
Depends: luci-compat,lua-sha2
Source: nofuckingidea
SourceName: luci-app-talent
License: None
Section: luci
SourceDateEpoch: 12
Maintainer: Fishhh
Architecture: all
Description: Talent LuCI application
