Package: luci-app-talent
Version: 424
Depends: luci-compat,lua-sha2
Source: https://github.com/Stowarzyszenie-Talent/talentWRT
SourceName: luci-app-talent
License: GPLv3
Section: luci
SourceDateEpoch: 12
Maintainer: Fishhh
Uploaders: A-dead-pixel <olaf.targowski@otsrv.net>
Architecture: all
Description: Talent LuCI application
